@import '../variables.scss';

.homepage {
  &__posts-list{
    display: grid;
    justify-content: center;
    grid-template-columns: minmax(100px, auto);
    gap: 30px;
    grid-auto-rows: minmax(100px, auto);

    @media screen and (min-width: 600px) {
      grid-template-columns: repeat(2, 1fr);
      justify-content: flex-start;
    }

    @media screen and (min-width: 992px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}