@import '../../../styles/variables.scss';

.post-body {
  &__head-image {
    height: 250px;
    margin-top: $gutter-lg;
    margin-bottom: $gutter-lg;

    @media screen and (min-width: 600px) {
      height: 300px;
    }

    @media screen and (min-width: 768px) {
      height: 520px;
    }
  }

  &__content {
    h1 {
      margin-bottom: $gutter-lg;
      font-size: $font-size-xl;
      font-weight: 700;

      @media screen and (min-width: 768px) {
        margin-bottom: $gutter-xlg;
        font-size: 65px;
      }
    }

    img {
      width: 100%;
    }
  }
}