@import '../../../styles/variables.scss';

.search {
  display: flex;
  margin-bottom: 40px;
  margin-top: 40px;

  input {
    display: block;
    font-size: 14px;
    padding: $gutter-sm;
    width: 250px;
    border-radius: 4px;
  }

  &__submit {
    background-color: green;
    cursor: pointer;
  }
}